<h3>
  Questions
</h3>
<table class="table table-responsive table-bordered table-compact table-hover table-striped table-sm">
  <thead>
    <tr>
      <th>Number</th>
      <th>Description</th>

      <th>Subject</th>
      <th>Concept </th>
      <th>Concept Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of questions">
      <td>
        <a [routerLink]="['/question' , s.id]">
          {{s.id}}
        </a>
      </td>
      <td> {{s.description}}</td>
      <td> {{s.subject}}</td>
      <td> {{s.concept}}</td>
      <td> {{s.conceptnumber}}</td>

    </tr>
  </tbody>
</table>
