<nav class="navbar navbar-expand-md navbar-light fixed-top  bg-white border-bottom shadow-sm">
  <a class='navbar-brand' [routerLink]='["/"]'>
    <img alt="Sabis" src="/assets/sabis-logo.png" />
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]='["/"]' (click)='collapse()' class="nav-link">
          <span class='fas fa-home'></span> Home
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]='["/questions"]' (click)='collapse()' class="nav-link">
          <span class='fas fa-question-circle'></span> Students
        </a>
      </li>

    </ul>
  </div>
</nav>